/* src/App.css */

.App {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.pageHeading {
  text-align: center;
  margin-top: 0; /* Remove default margin */
  padding-top: 20px; /* Add padding to space out from the MenuBar */
}

.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.timingsTable {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.weekMenu {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
